@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ant-dropdown-menu {
	padding: 0 !important;
	min-width: 126px;
	@apply divide-y border border-[#BDBDBD] divide-[#BDBDBD];
}

.ant-dropdown-menu > li {
	border-radius: 0 !important;
	height: 40px;
}
